<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/third_party/css/semantic.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui hidden divider"></div>
    <h2>About:</h2>
    <h4>How are the made up sentences generated?</h4>
    <p>They are made with a process called Markov chains. The machine will make a sentence based on the probability of when words occur
    in relation to each other. This is the same technology used in predictive texts for mobile phones.</p>
    <h4>Why <i>Ulysses</i> ?</h4>
    <p>I thought it was quite difficult when I read it, so I thought it would be interesting to see a
    machine try to mimic such a distinct writing style. I think because the novel uses interesting sentence structures, the quiz can be quite difficult!</p>

<br>
<p style="text-align: center;"><a href="/">Home</a></p>
</body>
</html>