<!DOCTYPE html>

<html>
<!--<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">-->
<link rel="stylesheet" href="/static/third_party/css/semantic.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

<head>
    <title>Kyle Ip | Homepage</title>
</head>
<body>
<p>Hello! Click below to take a quiz. You will see two blocks of text. One is
randomly generated Markov chain of words, the other is an actual passage from a book. Try to guess
which one is the real quote!</p>

<a href="/quiz"> Start </a>
<p></p>

<span class="ui huge header">Kyle Ip</span>
</body>
</html>