<!DOCTYPE html>

<html>
<!--<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">-->
<link rel="stylesheet" href="/static/third_party/css/semantic.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

<body>
<div class="ui hidden divider"></div>
<h2>Click the quote from the book:</h2>

<div class="ui container">
    <div class="ui grid">
        <!--<div class="ui two column grid" style="text-align: center;">-->

            {% if answerpos == 1 %}
            <div class="eight wide column">
                <div class="ui segment">
                <a href="/correct">{{ quote }}</a>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                <a href="/wrong">{{ chain }}</a>
                </div>
            </div>
            <p>1</p>
            {% endif %}
            {% if answerpos == 2 %}
            <div class="eight wide column">
                <div class="ui segment">
                <a href="/wrong">{{ chain }} </a>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui segment">
                <a href="/correct">{{ quote }} </a>
                </div>
            </div>
            <p>2</p>
            {% endif %}
        <!--</div>-->
    </div>
</div>

</body>
</html>